[submodule "config/gtk/Nordic"]
	path = config/gtk/Nordic
	url = git@github.com:EliverLara/Nordic.git
[submodule "clones/lua-language-server"]
	path = clones/lua-language-server
	url = https://github.com/sumneko/lua-language-server
