[submodule "pfetch"]
	path = clones/pfetch
	url = git@github.com:dylanaraps/pfetch.git
[submodule "nord-dircolors"]
	path = clones/nord-dircolors
	url = git@github.com:arcticicestudio/nord-dircolors.git
[submodule "delta"]
	path = delta
	url = git@github.com:dandavison/delta.git
[submodule "git-secrets"]
	path = clones/git-secrets
	url = git@github.com:awslabs/git-secrets.git
[submodule "config/vim/vim/pack/plugins/start/lightline.vim"]
	path = config/nvim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "config/vim/vim/pack/plugins/start/fzf.vim"]
	path = config/nvim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "config/vim/vim/pack/plugins/start/nerdtree"]
	path = config/nvim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "config/vim/vim/pack/plugins/start/nerdtree-git-plugin"]
	path = config/nvim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "config/vim/vim/pack/plugins/start/vim-sensible"]
	path = config/nvim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "config/vim/vim/pack/plugins/start/vim-commentary"]
	path = config/nvim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "config/vim/vim/pack/plugins/start/vim-surround"]
	path = config/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "config/vim/vim/pack/plugins/start/vim-fugitive"]
	path = config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "config/vim/vim/pack/plugins/start/vim-repeat"]
	path = config/nvim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "config/vim/vim/pack/plugins/start/coc.nvim"]
	path = config/nvim/pack/plugins/opt/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "config/vim/vim/pack/plugins/start/nord-vim"]
	path = config/nvim/pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "clones/spicetify-themes"]
	path = clones/spicetify-themes
	url = https://github.com/morpheusthewhite/spicetify-themes
[submodule "config/vim/pack/plugins/start/csv.vim"]
	path = config/nvim/pack/plugins/start/csv.vim
	url = git@github.com:chrisbra/csv.vim.git
[submodule "clones/moreutils"]
	path = clones/moreutils
	url = git://git.joeyh.name/moreutils
[submodule "clones/fzf"]
	path = clones/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "clones/autojump"]
	path = clones/autojump
	url = git@github.com:wting/autojump.git
[submodule "clones/neovim"]
	path = clones/neovim
	url = git@github.com:neovim/neovim.git
	branch = stable
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "clones/ctags"]
	path = clones/ctags
	url = git@github.com:universal-ctags/ctags.git
[submodule "config/nvim/pack/plugins/start/tagbar"]
	path = config/nvim/pack/plugins/start/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "config/nvim/pack/plugins/start/markdown-preview.nvim"]
	path = config/nvim/pack/plugins/start/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim.git
[submodule "config/nvim/pack/plugins/start/nvim-treesitter"]
	path = config/nvim/pack/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "config/nvim/pack/plugins/start/rasi.vim"]
	path = config/nvim/pack/plugins/start/rasi.vim
	url = git@github.com:Fymyte/rasi.vim.git
