[submodule "delta"]
	path = delta
	url = git@github.com:dandavison/delta.git
[submodule "config/vim/vim/pack/plugins/start/lightline.vim"]
	path = config/nvim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "config/vim/vim/pack/plugins/start/nerdtree"]
	path = config/nvim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "config/vim/vim/pack/plugins/start/nerdtree-git-plugin"]
	path = config/nvim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "config/vim/vim/pack/plugins/start/vim-sensible"]
	path = config/nvim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "config/vim/vim/pack/plugins/start/vim-commentary"]
	path = config/nvim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "config/vim/vim/pack/plugins/start/vim-surround"]
	path = config/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "config/vim/vim/pack/plugins/start/vim-fugitive"]
	path = config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "config/vim/vim/pack/plugins/start/vim-repeat"]
	path = config/nvim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "config/vim/vim/pack/plugins/start/nord-vim"]
	path = config/nvim/pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "config/vim/pack/plugins/start/csv.vim"]
	path = config/nvim/pack/plugins/start/csv.vim
	url = git@github.com:chrisbra/csv.vim.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "config/nvim/pack/plugins/start/tagbar"]
	path = config/nvim/pack/plugins/start/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "config/nvim/pack/plugins/start/markdown-preview.nvim"]
	path = config/nvim/pack/plugins/start/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim.git
[submodule "config/nvim/pack/plugins/start/nvim-treesitter"]
	path = config/nvim/pack/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "config/nvim/pack/plugins/start/rasi.vim"]
	path = config/nvim/pack/plugins/start/rasi.vim
	url = git@github.com:Fymyte/rasi.vim.git
[submodule "config/nvim/pack/plugins/start/plenary.nvim"]
	path = config/nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = config/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "config/nvim/pack/plugins/start/nvim-metals"]
	path = config/nvim/pack/plugins/start/nvim-metals
	url = https://github.com/scalameta/nvim-metals.git
[submodule "config/nvim/pack/plugins/start/nvim-dap"]
	path = config/nvim/pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "config/nvim/pack/plugins/start/nvim-cmp"]
	path = config/nvim/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "config/nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = config/nvim/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "config/nvim/pack/plugins/start/telescope-fzf-native.nvim"]
	path = config/nvim/pack/plugins/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule "config/nvim/pack/plugins/start/telescope.nvim"]
	path = config/nvim/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "config/gtk/Nordic"]
	path = config/gtk/Nordic
	url = git@github.com:EliverLara/Nordic.git
