interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/?authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebook.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Gemini
        Notebook</title><link rel=\"canonical\" href=\"https://notebook.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, Gemini Notebook is your powerful virtual research assistant
        rooted in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\[...]
- request:
    body: f.req=%5B%5B%5B%22rLM1Ne%22%2C%22%5B%5C%22bb00c9e3-656c-4fd2-b890-2b71e1cf3814%5C%22%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%2Cnull%2C0%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786668013871&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=rLM1Ne&source-path=%2Fnotebook%2Fbb00c9e3-656c-4fd2-b890-2b71e1cf3814&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ")]}'\n\n47918\n[[\"wrb.fr\",\"rLM1Ne\",\"[[\\\"VCR Generation Notebook
        (Tier 8)\\\",[[[\\\"d73776d9-4279-432e-8212-bc5327a74d1f\\\"],\\\"Codex UI
        Selector Integ[...]
- request:
    body: f.req=%5B%5B%5B%22hPTbtc%22%2C%22%5B%5B%5D%2Cnull%2C%5C%22bb00c9e3-656c-4fd2-b890-2b71e1cf3814%5C%22%2C1%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786668013871&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=hPTbtc&source-path=%2Fnotebook%2Fbb00c9e3-656c-4fd2-b890-2b71e1cf3814&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        149

        [["wrb.fr","hPTbtc","[[[\"bc0666c8-34b5-4bf8-817f-554867ea6ee8\"]]]",null,null,null,"generic"],["di",378],["af.httprm",378,"5576936491582425724",10]]

        23

        [["e",4,null,null,187]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22khqZz%22%2C%22%5B%5B%5D%2Cnull%2Cnull%2C%5C%22bc0666c8-34b5-4bf8-817f-554867ea6ee8%5C%22%2C100%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786668013871&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=khqZz&source-path=%2Fnotebook%2Fbb00c9e3-656c-4fd2-b890-2b71e1cf3814&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUB[...]
