interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/?authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebook.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Gemini
        Notebook</title><link rel=\"canonical\" href=\"https://notebook.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, Gemini Notebook is your powerful virtual research assistant
        rooted in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\[...]
- request:
    body: f.req=%5B%5B%5B%22wXbhsf%22%2C%22%5Bnull%2C1%2Cnull%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786669516442&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=wXbhsf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ")]}'\n\n70664\n[[\"wrb.fr\",\"wXbhsf\",\"[[[\\\"VCR Generation Notebook
        (Tier 8)\\\",[[[\\\"d73776d9-4279-432e-8212-bc5327a74d1f\\\"],\\\"Codex UI
        Selector Integration Probe\\\",[null,23,[1781556225,73402800[...]
- request:
    body: f.req=%5B%5B%5B%22CCqFvf%22%2C%22%5B%5C%22VCR%20Emoji%20Mutation%20Regression%5C%22%2Cnull%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786669516442&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=CCqFvf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        327

        [["wrb.fr","CCqFvf","[\"VCR Emoji Mutation Regression\",null,\"451748c6-0c12-462a-9001-14b9c3e39d14\",null,null,[1,false,true,null,null,null,1,null,null,null,null,null,false],null,null,null,null,null,[[\"c928e355-0a32-45dd-befe-bc5c2983a1e9\"]]]",null,null,null,"generic"],["di",256],["af.httprm",255,"5710649390117129347",10]]

        23

        [["e",4,null,null,365]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22s0tc2d%22%2C%22%5B%5C%22451748c6-0c12-462a-9001-14b9c3e39d14%5C%22%2C%5B%5Bnull%2Cnull%2Cnull%2C%5Bnull%2Cnull%2C%5C%22%5C%5Cud83d%5C%5Cudcd6%5C%22%5D%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786669516442&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=s0tc2d&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ")]}'\n\n326\n[[\"wrb.fr\",\"s0tc2d\",\"[\\\"VCR Emoji Mutation Regression\\\",null,\\\"451748c6-0c12-462a-9001-14b9c3e39d14\\\",\\\"\U0001F4D6\\\",null,[1,false,true,null,null,null,1,false,[1786669517,213827000],null,null,null,false,true,1,false,null,true,3,null,null,null,false]]\",null,null,null,\"generic\"],[\"di\",200],[\"af.httprm\",200,\"5777359531249085402\",10]]\n23\n[[\"e\",4,null,null,364]]\n"
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22rLM1Ne%22%2C%22%5B%5C%22451748c6-0c12-462a-9001-14b9c3e39d14%5C%22%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%2Cnull%2C0%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786669516442&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=rLM1Ne&sourc[...]
[...]
- request:
    body: f.req=%5B%5B%5B%22WWINqb%22%2C%22%5B%5B%5C%22451748c6-0c12-462a-9001-14b9c3e39d14%5C%22%5D%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1786669516442&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=WWINqb&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        105

        [["wrb.fr","WWINqb","[]",null,null,null,"generic"],["di",378],["af.httprm",378,"2139789203621677170",10]]

        23

        [["e",4,null,null,143]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
